<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head class="blue">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Волонтерська організація</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" th:href="${pathProjectInfo} + ${projectInfo.logo}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <header th:insert="blocks\admin_header :: header"></header>

        <div th:if="${param.UserAdded}" class="alert alert-success text-center" role="alert">
            <h2>Користувач доданий!</h2>
        </div>
        <div th:if="${param.RepeatedPasswordIsInvalidException}" class="alert alert-warning text-center text-warning"
            role="alert">
            <h2>Повторний пароль не співпадає із основним</h2>
        </div>
        <div th:if="${param.UserAlreadyExistsException}" class="alert alert-warning text-center" role="alert">
            <h2>Користувач під таким іменем уже існує</h2>
        </div>

        <main>
            <div class="container">

                <h1 class="title text-center mb-4">Додати користувача</h1>

                <div class="d-flex justify-content-center">
                    <form action="/admin/add_user" method="post" enctype="multipart/form-data">

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="name" id="inputName" maxlength="30" class="form-control"
                                placeholder="Необов'язково, якщо користувач заповнюв анкету з даним email'ом">
                            <label class="form-label" for="inputName">Ім'я та прізвище</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="inputEmail" class="form-control"
                                placeholder="example@gmail.com" required pattern="^[A-Za-z0-9+_.-]+@(.+)$"
                                minlength="15" maxlength="40" />
                            <label class="form-label" for="inputEmail">Е-адреса</label>
                        </div>

                        <!-- Select role -->
                        <div class="form-outline mb-4">
                            <select name="selectedRole" id="select_role" class="form-select form-select-sm mb-2">
                                <option selected>Виберіть роль</option>
                                <th:block th:each="role : ${roles}">
                                    <option th:value="${role.role}">[[${role.role}]]</option>
                                </th:block>
                            </select>
                            <label class="form-label" for="select_role">Права доступу</label>
                        </div>

                        <!-- Password -->
                        <div class="form-outline mb-4">
                            <input type="password" id="inputPass" name="password" placeholder="Введіть пароль"
                                class="form-control mb-2" required min="5" maxlength="30">
                            <label class="form-label" for="inputPass">Пароль</label>
                        </div>

                        <!-- Repeated Password -->
                        <div class="form-outline mb-4">
                            <input type="password" id="re-Pass" name="repeatedPassword"
                                placeholder="Повторно введіть пароль" class="form-control" required min="5"
                                maxlength="30">
                            <label class="form-label" for="re-Pass">Повторіть пароль</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4 form-control">Відправити</button>
                    </form>
                </div>

            </div>
        </main>
        <footer class=" navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>
    <script src="/js/boot.js"></script>

</html>