<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head class="blue">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" />
        <title>Волонтерська організація</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" th:href="${pathProjectInfo} + ${projectInfo.logo}">
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <header th:insert="blocks\admin_header :: header"></header>
        <main>
            <div class="container">
                <div th:if="${param.UserAdded}" class="alert alert-success text-center" role="alert">
                    <h2>Користувач доданий!</h2>
                </div>
                <div th:if="${param.RepeatedPasswordIsInvalidException}"
                    class="alert alert-warning text-center text-warning" role="alert">
                    <h2>Повторний пароль не співпадає із основним</h2>
                </div>
                <div th:if="${param.UserAlreadyExistsException}" class="alert alert-warning text-center" role="alert">
                    <h2>Користувач під таким іменем уже існує</h2>
                </div>
                <h1 class="text-center">
                    Додати користувача
                </h1>
                <form action="/admin/add_user" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group">
                        <h4>Емайл:
                            <input type="email" name="email" placeholder="Введіть емайл" class="form-control mb-2"
                                required maxlength="30">
                        </h4>
                        <h4>Пароль:
                            <input type="password" name="password" placeholder="Введіть пароль"
                                class="form-control mb-2" required maxlength="15">
                        </h4>
                        <h4>Повторіть пароль:
                            <input type="password" name="repeatedPassword" placeholder="Повторно введіть пароль"
                                class="form-control mb-2" required maxlength="15">
                        </h4>
                        <h4>ПІБ:
                            <input type="text" name="name" ,
                                placeholder="Необов'язково, якщо користувач заповнюв анкету з даним email'ом"
                                class="form-control mb-2" maxlength="30">
                        </h4>
                        <h4>Роль:
                            <select name="selectedRole" id="select_role" class="form-select form-select-sm mb-2">
                                <option selected>Виберіть роль</option>
                                <th:block th:each="role : ${roles}">
                                    <option th:value="${role.role}">[[${role.role}]]</option>
                                </th:block>
                        </h4>
                        </select>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-outline-success btn-block mb-2">Відправити</button>
                    </center>
                </form>
            </div>
        </main>
        <footer class=" navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>
    <script src="/js/boot.js"></script>

</html>