<!DOCTYPE html>
<html lang="uk">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" href="/icon/logo.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
            integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
        <title>Перегляд користувачів</title>
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <th:block th:with="newHeader=${header} + header">
            <header class="navbar-inverse" th:insert="${blocks} + ${newHeader} :: ${newHeader}"></header>
        </th:block>
        <main>
            <div class="container mt-for-header mb-4">
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="mb-2">
                        <a href="csv_users" class="btn btn-danger">Експортувати у файл</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                                <div class="">
                                </div>
                                <div th:each="user : ${users}">
                                    <table class="table manage-candidates-top mb-0">
                                        <thead>
                                            <tr>
                                                <th>Ім'я користувача</th>
                                                <th>Роль</th>
                                                <th:block th:if="${user.candidate != null}">
                                                    <th>Місце проживання</th>
                                                    <th>Номер телефону</th>
                                                    <th>Опис</th>
                                                    <th>Активація</th>
                                                </th:block>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="candidates-list">
                                                <td class="title">
                                                    <div class="thumb">
                                                        <img class="img-fluid"
                                                            src="/icon/uploads/users/default_avatar.jpg"
                                                            alt="Фотографія користувача">
                                                    </div>
                                                    <div class="candidate-list-details">
                                                        <div class="candidate-list-info">
                                                            <div class="candidate-list-title">
                                                                <h5 class="mb-0"><a href="#">[[${user.username}]]</a>
                                                                </h5>
                                                            </div>
                                                            <div class="candidate-list-option">
                                                                <ul class="list-unstyled">
                                                                    <li><i class="fas fa-user" aria-hidden="true"></i>
                                                                        [[${user.name}]]
                                                                    </li>
                                                                    <li><i class="fa fa-envelope"
                                                                            aria-hidden="true"></i>[[${user.email}]]
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="candidate-list-favourite-time">
                                                    <span class="candidate-list-time"
                                                        data-tooltip="ddd">[[${user.roles}]]</span>
                                                </td>
                                                <th:block th:each="candidate : ${user.candidate}">
                                                    <th:block th:if="${user.candidate != null}">
                                                        <td class="candidate-list-favourite-time">
                                                            <span class="candidate-list-time"
                                                                th:text="${candidate.city}"></span>
                                                        </td>
                                                        <td class="candidate-list-favourite-time">
                                                            <span class="candidate-list-time"
                                                                th:text="${candidate.phone}"></span>
                                                        </td>
                                                        <td class="candidate-list-favourite-time">
                                                            <span class="candidate-list-time"
                                                                th:text="${candidate.description}"></span>
                                                        </td>
                                                        <th:block th:if="${candidate.activation} != confirmed">
                                                            <td class="candidate-list-favourite-time">
                                                                <span class="candidate-list-time">Не Підтверджено</span>
                                                            </td>
                                                        </th:block>
                                                        <th:block th:unless="${candidate.activation} != confirmed">
                                                            <td class="candidate-list-favourite-time">
                                                                <span class="candidate-list-time">Підтверджено</span>
                                                            </td>
                                                        </th:block>
                                                    </th:block>
                                                </th:block>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>

</html>