<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head class="blue">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" />
        <title>[[${projectInfo.name}]]</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" th:href="${pathProjectInfo} + ${projectInfo.logo}">
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <header th:insert="blocks\editor_header :: header"></header>

        <main>
            <div class="container">
                <h1 class="text-center">Додати категорію</h1>
                <form action="add_category" method="post" enctype="multipart/form-data">
                    <h4>Назва категорії:
                        <input type="text" name="title" class="form-control" maxlength="50" minlength="3">
                    </h4>
                    <h4>Опис:
                        <textarea name="description" rows="5" maxlength="254" minlength="3"
                            class="form-control"></textarea>
                    </h4>
                    <button type="submit" class="btn btn-outline-success">Додати</button>
                </form>
            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>
    <script src="/js/boot.js"></script>

</html>