<!DOCTYPE html>
<html lang="uk">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" href="/icon/logo.ico">
        <title>Добавлення нового допису</title>
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <header class="navbar-inverse" th:insert="blocks\header :: _header"></header>
        <main>
            <div class="container">
                <div th:if="${param.AddedPost}" class="alert alert-success text-center">
                    <h5>Допис додано!</h5>
                </div>
                <div class="mr-300">
                    <div class="col-md-8 offset-md-4">
                        <div class="form-container mb-5">
                            <h1 class="title text-center">Добавлення нового допису</h1>
                            <form action="/add_post" method="post" class="form-horizontal"
                                enctype="multipart/form-data">
                                <div class="form-group">
                                    <h4>Назва допису:
                                        <input type="text" name="title" placeholder="Введіть назву допису"
                                            class="form-control mb-2" maxlength=" 50" required>
                                    </h4>
                                    <h4>Текст допису:
                                        <input type="text" name="description" class="form-control mb-2"
                                            placeholder="Введіть основну частину допису" maxlength="500" required>
                                    </h4>
                                    <h4>Прикріпіть світлину, яка освітлює даний допис.
                                        <input type="file" name="image">
                                    </h4>
                                </div>
                                <center>
                                    <button type="submit" class="btn btn-outline-success btn-block">Добавити</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>

</html>