<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head class="blue">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>[[${projectInfo.name}]]</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" th:href="${pathProjectInfo} + ${projectInfo.logo}">
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <header th:insert="blocks\editor_header :: header"></header>

        <div th:if="${param.AddedCategory}" class="alert alert-success">
            <h3>Категорія додана!</h3>
        </div>

        <div th:if="${param.EditedCategory}" class="alert alert-success">
            <h3>Категорія відредагована!</h3>
        </div>

        <div th:if="${param.DeletedCategory}" class="alert alert-danger">
            <h3>Категорія видалена!</h3>
        </div>

        <main>
            <div class="container">
                <h1 class="text-center">Категорії</h1>

                <div class="mt-2 text-end">
                    <h3><a href="/editor/add_category" class="fa fa-plus" aria-hidden="true">Додати нову категорію
                        </a>
                    </h3>
                </div>

                <th:block th:each="category : ${categories}">
                    <div class="row">
                        <div class="btn-group">
                            <h3 class="mr-2">[[${category.id}]]. [[${category.category}]] - [[${category.description}]]
                            </h3>
                            <form action="edit_category" method="post">
                                <button type="submit" class="btn btn-outline-warning" name="idCategory"
                                    th:value="${category.id}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </form>
                            <th:block th:unless="${categories.size()} == 2">
                                <form action="delete_category" method="post">
                                    <button type="submit" class="btn btn-outline-danger" name="idCategory"
                                        th:value="${category.id}"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>
    <script src="/js/boot.js"></script>

</html>