<!DOCTYPE html>
<html lang="uk">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" href="/icon/logo.ico">
        <title>Допис</title>
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <header class="navbar-inverse" th:insert="blocks\header :: header"></header>
        <main>
            <div class="container pb50">
                <div class="alert alert-success text-center" th:if="${param.AddedComment}">
                    <h5>
                        Ваш коментар додано!
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-9 mb40">
                        <article>
                            <img src="https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                                alt="" class="img-fluid mb30">
                            <div class="post-content">
                                <h3>[[${post.title}]]</h3>
                                <ul class="post-meta list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-user-circle-o"></i> <a href="#">[[${post.author}]]</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-calendar-o"></i> <a href="#">[[${post.date}]]</a>
                                    </li>
                                </ul>
                                <p>[[${post.description}]]</p>
                                <ul class="list-inline share-buttons">
                                    <li class="list-inline-item">Share Post:</li>
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                            <i class="fa fa-facebook"></i>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                                            <i class="fa fa-twitter"></i>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon-sm si-dark si-colored-linkedin si-gray-round">
                                            <i class="fa fa-linkedin"></i>
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                                <hr class="mb40">
                                <h4 class="mb40 text-uppercase font500">Коментарі</h4>
                                <!--    <form action="/blog" method="post" class="form-horizontal"
                                    enctype="multipart/form-data">
                                    <select class="form-select" name="sorting" aria-label="Default select example">
                                        <option selected>Сортувати за</option>
                                        <option value="1">Новішими коментарями</option>
                                        <option value="2">Давнішими коментарями</option>
                                    </select>
                                    <button type="submit">Відправити</button>
                                </form>
                                <div th:if="${param.name == n}">
                                    <p>ddddddddddddddd</p>
                                </div>-->
                                <th:block th:each="comment : ${post.comments}">
                                    <div class="media mb40">
                                        <i class="d-flex mr-3 fa fa-user-circle-o fa-3x mb-2"
                                            th:text="${comment.author}"></i>
                                        <div class="media-body">
                                            <h4 th:text="${comment.comment}" class="mb-1"></h4>
                                            <p th:text="${comment.date}" class="mt-1"></p>
                                        </div>
                                    </div>
                                </th:block>
                                <hr class="mb40">
                                <h4 class="mb40 text-uppercase font500">Додати власний коментар</h4>
                                <form role="form" action="/add_comment" method="post">
                                    <div class="form-group">
                                        <label>Дані про коментатора</label>
                                        <input type="text" name="author" class="form-control"
                                            placeholder="Введіть прізвище та ім'я">
                                    </div>
                                    <!--      <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="john@doe.com">
                                    </div>-->
                                    <div class="form-group">
                                        <label>Коментар:</label>
                                        <textarea class="form-control" rows="5" name="comment"
                                            placeholder="Прокоментуйте даний допис"></textarea>
                                    </div>
                                    <input type="hidden" name="id_post" th:value="${post.id}">
                                    <div class="clearfix float-right">
                                        <button type="submit"
                                            class="btn btn-primary btn-lg text-center mb-2 mt-2">Додати
                                            коментар</button>
                                    </div>
                                </form>
                            </div>
                        </article>
                        <!-- post article-->

                    </div>
                    <div class="col-md-3 mb40">
                        <div th:each="post : ${lastPosts}">
                            <h4 class="sidebar-title">Останні новини</h4>
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="d-flex mr-3 img-fluid" width="64"
                                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1"><a th:href="${post.id}">[[${post.title}]]</a>
                                        </h5> [[${post.date}]]
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>

</html>