<!DOCTYPE html>
<html lang="uk">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" th:href="${pathProjectInfo} + ${projectInfo.logo}">
        <title>Добавлення нового допису</title>
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>
        <header class="navbar-inverse" th:insert="blocks\user_header :: header"></header>

        <div th:if="${param.AddedPost}" class="alert alert-success text-center">
            <h5>Допис додано!</h5>
        </div>

        <div th:if="${param.UserNotFound}" class="alert alert-danger text-center">
            <h5>Користувача не знайдено</h5>
        </div>

        <main>
            <div class="container">

                <h1 class="title text-center mb-4">Запропонувати допис</h1>

                <div class="d-flex justify-content-center">
                    <form action="/user/suggest_post" method="post" enctype="multipart/form-data">

                        <!-- Title input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="title" id="inputTitle" placeholder="Введіть назву допису"
                                class="form-control mb-2" minlength="3" maxlength="254" required>
                            <label class="form-label" for="inputTitle">Назва</label>
                        </div>

                        <!-- Description input -->
                        <div class="form-outline mb-4">
                            <textarea rows="5" type="text" id="textAreaDesc" name="description" class="form-control"
                                placeholder="Введіть основну частину допису" maxlength="10000" required></textarea>
                            <label class="form-label" for="textAreaDesc">Опис</label>
                        </div>

                        <!-- Phone number -->
                        <div class="form-outline mb-4">
                            <select name="idCategory" class="form-select" required>
                                <th:block th:each="category : ${categories}">
                                    <option th:value="${category.id}">[[${category.category}]]</option>
                                </th:block>
                            </select>
                            <label class="form-label" for="select">Категорія</label>
                        </div>

                        <!-- Image -->
                        <div class="form-outline mb-4">
                            <input type="file" id="inputImage" max="1048576" name="image" required>
                            <label class="form-label" for="inputImage">Фотографія</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4 form-control">Запропонувати</button>
                    </form>
                </div>

            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>
    <script src="/js/boot.js"></script>

</html>