<!DOCTYPE html>
<html lang="uk">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" th:href="${pathProjectInfo} + ${projectInfo.logo}">
        <title>Перегляд кандидатів</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body>

        <header th:insert="blocks\user_header :: header"></header>

        <div th:if="${param.CandidateNotFound}" class="alert alert-danger text-center">
            Волонтера не знайдено!
        </div>

        <div th:if=" ${param.ItLastPage}" class="alert alert-info text-center">
            Це остання сторінка!
        </div>

        <div th:if=" ${param.NotExistsNextPage}" class="alert alert-info text-center">
            Не існує наступної сторінки!
        </div>

        <div th:if="${param.IncorrectQuery}" class="alert alert-info text-center">
            Неправильний запит!
        </div>

        <div th:if="${param.NotFoundByQuery}" class="alert alert-info text-center">
            Нічого не знайдено по вашому запиту!
        </div>

        <div class="mb-2">
            <a href="/user/csv_candidates" class="btn btn-danger">Експортувати у файл</a>
        </div>

        <main class="container">
            <div class="d-flex justify-content-center align-items-center">
                <div class="mb-2">

                    <!--search-->
                    <div class="mb-2">
                        <form action="/user/view_candidates" method="get">
                            <input type="search" name="query" class="form-control" />
                            <input type="hidden" name="page" th:value="${candidates.getNumber()}">
                            <input type="hidden" name="size" th:value="${candidates.getSize()}">
                            <input type="hidden" name="filter" th:value="${currentFilter}">
                            <select name="field" class="form-control">
                                <option selected value="name">ПІБ</option>
                                <option value="email">Електронна адреса</option>
                                <option value="phone">Номер телефону</option>
                                <option value="city">Місто</option>
                            </select>
                            <button type="submit" class="btn btn-primary form-control mb-2">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>


                    <div class="text-center mb-3">
                        <form th:action="view_candidates_filter" method="post" class="form-horizontal ml-2"
                            enctype="multipart/form-data" name="form1">
                            <h2>Фільтри по статусу:</h2>
                            <button type="submit" class="btn btn-warning" name="filter" value="waiting">Нові</button>
                            <button type="submit" class="btn btn-danger" name="filter" value="deny">Відмовленні</button>
                            <button type="submit" class="btn btn-success" name="filter" value="accept">Прийняті</button>
                        </form>
                    </div>
                    <div th:each="candidate : ${candidates}" th:with="ids=${candidate.id} - 1">
                        <div class="container content-lg">
                            <div class="row">
                                <div class="col-md-6 sm-margin-b-60 mb-4">
                                    <img class="full-width img-responsive" th:src="${filePath} + ${candidate.photo}"
                                        th:alt="${filePath} + ${candidate.photo}">
                                </div>
                                <div class="col-md-6">
                                    <div class="section-seperator margin-b-50">
                                        <div class="margin-b-50">
                                            <div class="margin-b-30">
                                                <h2 th:inline="text" class="font-weight-bold">Кандидат
                                                    №[[${candidate.id}]]
                                                </h2>
                                                <h5 th:inline="text"><b class="font-weight-bold">ПІБ:</b>
                                                    [[${candidate.name}]]
                                                </h5>
                                                <h5 th:inline="text"><b class="font-weight-bold">Місце проживання:</b>
                                                    [[${candidate.city}]]</h5>
                                                <h5 th:inline="text"><b class="font-weight-bold">Опис:</b>
                                                    [[${candidate.description}]]</h5>
                                                <th:block th:switch="${candidate.status}">
                                                    <h5 th:inline="text">
                                                        <h5 th:case="waiting"><b class="font-weight-bold">Статус: </b><b
                                                                class="text-warning">ОЧІКУВАННЯ</b></h5>
                                                        <h5 th:case="deny"><b class="font-weight-bold">Статус: </b><b
                                                                class="text-danger">ВІДМОВЛЕНО</b></h5>
                                                        <h5 th:case="accept"><b class="font-weight-bold">Статус: </b> <b
                                                                class="text-success">ПРИЙНЯТО</b></h5>
                                                    </h5>
                                                </th:block>
                                                <th:block th:if="${candidate.activation} != confirmed">
                                                    <h5 th:inline="text"><b class="font-weight-bold">Активація:</b>
                                                        <b class="text-danger">Не Підтверджено</b>
                                                    </h5>
                                                </th:block>
                                                <th:block th:unless="${candidate.activation} != confirmed">
                                                    <h5 th:inline="text"><b class="font-weight-bold">Активація:</b>
                                                        <b class="text-success">Підтверджено</b>
                                                    </h5>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--pagination-->
                    <div class="d-flex justify-content-center">
                        <nav class="mt-5">
                            <ul class="pagination">

                                <!--previous page-->
                                <th:block th:if="${pageable.hasPrevious()}">
                                    <div>
                                        <form action="/user/view_candidates" method="get">
                                            <input type="hidden" name="page" th:value="${candidates.getNumber()} - 1">
                                            <input type="hidden" name="size" th:value="${candidates.getSize()}">
                                            <input type="hidden" name="filter" th:value="${currentFilter}">
                                            <input type="hidden" name="field" th:value="${field}">
                                            <input type="hidden" name="query" th:value="${query}" />
                                            <li class="page-item"><button type="submit"
                                                    class="page-link">Попередня</button>
                                            </li>
                                        </form>
                                    </div>
                                </th:block>

                                <!--pages-->
                                <th:block th:each="page : ${pages}">

                                    <th:block th:if="${candidates.getNumber()} == ${page}" th:with="count=${page} + 1">
                                        <li class="page-item active"><a class="page-link"
                                                th:href="${URI_page} + ${page} + ${URI_size} + ${URI_filter} + ${URI_field} + ${URI_query}">[[${page}
                                                + 1]]</a>
                                        </li>
                                    </th:block>

                                    <th:block th:if="${URI_query} != null">
                                        <th:block th:unless="${candidates.getNumber()} == ${page}">
                                            <li class="page-item"><a class="page-link"
                                                    th:href="${URI_page} + ${page} + ${URI_size} + ${URI_filter} + ${URI_field} + ${URI_query}">[[${page}
                                                    + 1]]</a>
                                            </li>
                                        </th:block>
                                    </th:block>

                                    <th:block th:unless="${URI_query} != null">
                                        <th:block th:unless="${candidates.getNumber()} == ${page}">
                                            <li class="page-item"><a class="page-link"
                                                    th:href="${URI_page} + ${page} + ${URI_size} + ${URI_filter} + ${URI_field}">[[${page}
                                                    + 1]]</a>
                                            </li>
                                        </th:block>
                                    </th:block>
                                </th:block>

                                <!--next page-->
                                <th:block th:if="${pageable.getPageNumber()} != ${pageable.getPageSize()}">
                                    <div>
                                        <form action="/user/view_candidates" method="get" enctype="multipart/form-data">
                                            <input type="hidden" name="page" th:value="${candidates.getNumber()} + 1">
                                            <input type="hidden" name="size" th:value="${candidates.getSize()}">
                                            <input type="hidden" name="filter" th:value="${currentFilter}">
                                            <input type="hidden" name="field" th:value="${field}">
                                            <input type="hidden" name="query" th:value="${query}" />
                                            <li class="page-item"><button type="submit"
                                                    class="page-link">Наступна</button>
                                            </li>
                                        </form>
                                    </div>
                                </th:block>
                            </ul>
                        </nav>

                        <!--size-->
                        <div class="mt-5 ml-5 btn-group">
                            <form action="/user/view_candidates" method="get" enctype="multipart/form-data"
                                class="form-horizontal">
                                <input type="number" class="form-control" name="size" min="1" max="100">
                                <input type="hidden" name="filter" th:value="${currentFilter}">
                                <input type="hidden" name="field" th:value="${field}">
                                <input type="hidden" name="query" th:value="${query}" />
                                <button type="submit" class="btn btn-outline-success">Переглянути</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>
    <script src="/js/boot.js"></script>

</html>