<!DOCTYPE html>
<html lang="uk">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcun icon" th:href="${pathProjectInfo} + ${projectInfo.logo}">
        <title>Анкета</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/398bb9fadb.js"></script>
    </head>

    <body class="anketa">
        <header class="navbar-inverse" th:insert="blocks\header :: _header"></header>

        <div th:if="${param.EmailAlreadyExistsException}" class="alert alert-warning text-center">
            *Email вже використовується!
        </div>
        <div th:if="${param.NotAllowedFileFormatException}" class="alert alert-warning text-center">
            *Невірний формат файла!
        </div>

        <main>
            <div class="container">
                <h1 class="text-center">Анкета волонтера</h1>
                <div class="d-flex justify-content-center">
                    <form action="/anketa" method="post" enctype="multipart/form-data">

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="inputName" class="form-control" name="name" placeholder="Іванов Іван"
                                required minlength="5" maxlength="40" />
                            <label class="form-label" for="inputName">Ім'я та прізвище</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="inputEmail" class="form-control"
                                placeholder="example@gmail.com" required pattern="^[A-Za-z0-9+_.-]+@(.+)$"
                                minlength="15" maxlength="40" />
                            <label class="form-label" for="inputEmail">Е-адреса</label>
                        </div>

                        <!-- Phone number -->
                        <div class="form-outline mb-4">
                            <input type="number" name="phone" placeholder="+380951234567" id="inputPhoneNumber"
                                class="form-control" pattern="^\+380-\d{3}-\d{2}-\d{2}$" required minlength="10"
                                maxlength="13" />
                            <label class="form-label" for="inputPhoneNumber">Номер телефону</label>
                        </div>

                        <!-- City -->
                        <div class="form-outline mb-4">
                            <input type="text" id="inputCity" name="city" placeholder="Закарпатська обл., м. Ужгород"
                                class="form-control" required minlength="5" maxlength="70" />
                            <label class="form-label" for="inputCity">Місце проживання</label>
                        </div>

                        <!-- Description -->
                        <div class="form-outline mb-4">
                            <textarea id="inputDescription" placeholder="до 350 символів" name="description"
                                maxlength="350" class="form-control" required></textarea>
                            <label class="form-label" for="inputDescription">Опишіть себе</label>
                        </div>

                        <!-- Image -->
                        <div class="form-outline mb-4">
                            <input type="file" id="inputImage" max="1048576" name="file" required>
                            <label class="form-label" for="inputImage">Фотографія</label>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="inputCheckbox" required />
                            <label class="form-check-label" for="inputCheckbox"> Згода на обробку даних</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4 form-control">Відправити</button>
                    </form>
                </div>
            </div>
        </main>
        <footer class="navbar-inverse" th:insert="blocks\footer :: footer"></footer>
    </body>
    <script src="/js/boot.js"></script>

</html>