<div th:fragment="header">
    <div class="container mb-for-header">
        <div class="d-flex flex-wrap py-3 mb-4 border-bottom fixed-top navbar-inverse">
            <a href="/"
                class="d-flex align-items-start mb-3 mb-md-0 me-md-auto text-dark text-decoration-none mx-2"><img
                    th:src="${pathProjectInfo} + ${projectInfo.image}" alt="Зображення сайту">
                <h4 class="nav-item navbar-brand">[[${projectInfo.name}]]</h4>
            </a>

            <div class="navbar-toggler">
                <button class="d-flex justify-content-end align-items-end" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="d-flex justify-content-end">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="/blog" class="nav-link">
                                <h4>Блог</h4>
                            </a></li>
                        <li class="nav-item"><a href="/editor/categories" class="nav-link">
                                <h4>Категорії</h4>
                            </a></li>
                        <li class="nav-item"><a href="/editor/view_suggested_posts" class="nav-link">
                                <h4>Запропоновані дописи</h4>
                            </a></li>
                        <li class="nav-item"><a href="/logout" class="nav-link">
                                <h4>Вихід</h4>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>