<div th:fragment="footer">
    <footer class="container py-3">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="row">
                <div class="col-12 col-md">
                    <img th:src="${pathProjectInfo} + ${projectInfo.image}" alt="Зображення сайту">
                    <small class="d-block mb-3 text-muted">© 2021–2022</small>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Навігація</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Головна</a></li>
                        <li><a class="link-secondary" href="#">Наша команда</a></li>
                        <li><a class="link-secondary" href="#">Проекти</a></li>
                        <li><a class="link-secondary" href="#">Блог</a></li>
                        <li><a class="link-secondary" href="#">Стати волонтером</a></li>
                        <li><a class="link-secondary" href="#">Знайти волонтерів</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Проекти</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Проект 1</a></li>
                        <li><a class="link-secondary" href="#">Проект 2</a></li>
                        <li><a class="link-secondary" href="#">Проект 3</a></li>
                        <li><a class="link-secondary" href="#">Проект 4</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Контакти</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Телеграм <i class="fa fa-telegram"
                                    aria-hidden="true"></i></a></li>
                        <li><a class="link-secondary" href="#">Емейл <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a></li>
                        <li><a class="link-secondary" href="#">Телефон <i class="fa fa-phone"
                                    aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>