<div th:fragment="footer">
    <footer class="container py-3">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="row">
                <div class="col-12 col-md">
                    <img th:src="${pathProjectInfo} + ${projectInfo.image}" alt="Зображення сайту">
                    <small class="d-block mb-3 text-muted">© 2021–2022</small>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Навігація</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="/">Головна</a></li>
                        <li><a class="link-secondary" href="/blog">Блог</a></li>
                        <li><a class="link-secondary" href="/anketa">Стати волонтером</a></li>
                        <li><a class="link-secondary" href="/login">Вхід</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Контакти</h5>
                    <th:block th:unless="${role} == admin">
                        <ul class="list-unstyled text-small">
                            <li><a class="link-secondary" th:href="${projectInfo.telegram}" target="_blank">Telegram
                                    <i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                            <li><a class="link-secondary space-nowrap" href="">Email<i class="fa fa-envelope"
                                        aria-hidden="true"></i> [[${projectInfo.email}]]</a></li>
                            <li><a class="link-secondary space-nowrap" href="">Phone<i class="fa fa-phone"
                                        aria-hidden="true"></i> [[${projectInfo.phone}]]</a>
                            </li>
                        </ul>
                    </th:block>

                    <th:block th:if="${role} == admin">
                        <form action="edit_contacts" method="post" enctype="multipart/form-data">
                            <ul class="list-unstyled text-small">
                                <li>Telegram: <input type="text" name="telegram" th:value="${projectInfo.telegram}"
                                        class="form-control" minlength="1" maxlength="254" required
                                        placeholder="посилання Telegram"></li>
                                <li>Електронна адреса: <input type="email" name="email" th:value="${projectInfo.email}"
                                        class="form-control" minlength="1" maxlength="254" required
                                        placeholder="електронна адреса"></li>
                                <li>Номер телефону: <input type="number" name="phone" th:value="${projectInfo.phone}"
                                        class="form-control" minlength="1" maxlength="254" required
                                        placeholder="Номер телефону"></li>
                                </li>
                                <li>
                                    <button type="submit" class="btn btn-success">Зберегти</button>
                                </li>
                            </ul>
                        </form>
                    </th:block>
                </div>
            </div>
        </div>
    </footer>
</div>